.hero-wrapper{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-wrapper h1{
    font-size: 3rem;
    text-transform: uppercase;
}
